body {
  background-image: url('./assets/valley.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(75deg, rgb(20, 23, 33) 0%, rgb(20, 23, 33) 50%, rgba(20, 23, 33,0.8) 100%);
  display: table-cell;
  vertical-align: middle;
}

.form-card {
  width: 50%;
  max-width: 350px;
  padding: 0% 25% 0% 25%;
}

.form-title {
  font-size: 42px;
  font-family: 'Avenir';
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #e8e8e8;
  padding-bottom: 12px;
}

.form-subtitle {
  font-size: 18px;
  font-family: 'Avenir';
  letter-spacing: 0.5px;
  color: #afafaf;
  padding-bottom: 24px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}

.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: rgb(175, 175, 175);
  font-family: Avenir;
  width: 100px;
}

.auth-input {
  background-color: #3e404b;
  color: white;
  font-family: "Avenir";
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  width: calc(100% - 18px - 18px);
  margin-bottom: 12px;
}

.auth-button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #fa541c;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "Avenir";
  cursor: pointer;
  transition: all .44s ease;
  -webkit-transition: all .44s ease;
  -moz-transition: all .44s ease;
}

.auth-button:hover {
  filter: brightness(145%);
}

.chat-container {
  display: flex;
  height: 100vh;
  background: rgb(20, 23, 33);
}

.sidebar {
  background-color: rgb(43, 47, 60);
  width: 33%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3e404b;
}

.sidebar-content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto; /* Add this line */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: rgb(43, 47, 60);
}

.logo-image {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.user-info {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #3e404b;
}

.username-display {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #afafaf;
}

.user-icon {
  width: 1rem;
  height: 1rem;
}

.logout-button {
  font-size: 0.875rem;
  background-color: #fa541c;
  padding: 0.25rem 0.5rem;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.chat-content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(75deg, rgba(20, 23, 33, 0.8) 0%, rgba(20, 23, 33, 0.8) 50%, rgba(20, 23, 33, 0.6) 100%);
  flex-grow: 1;
  padding: 1rem;
}

.messages-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.select-user-prompt {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.prompt-text {
  color: #d1d5db;
}

.messages-wrapper {
  position: relative;
  flex-grow: 1;
}

.messages-list {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0.5rem;
}

.message {
  text-align: left;
}

.sent {
  text-align: right;
}

.message-bubble {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.sent-bubble {
  background-color: #fa541c;
  color: white;
}

.received-bubble {
  background-color: #3e404b;
  color: white;
}

.file-link {
  margin-top: 0.25rem;
}

.file-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.message-input-form {
  display: flex;
  gap: 0.5rem;
}

.message-input {
  background-color: #3e404b;
  color: white;
  flex-grow: 1;
  border: 1px solid #3e404b;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.file-upload {
  background-color: #fa541c;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid #fa541c;
}

.file-input {
  display: none;
}

.file-upload-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.send-button {
  background-color: #fa541c;
  padding: 0.5rem;
  color: white;
  border-radius: 0.25rem;
}

.send-icon {
  width: 1.5rem;
  height: 1.5rem;
}